{% extends 'base.html' %}
{% block content %}
<div class="container-fluid px-0">
    <div class="p-5 mb-4 rounded-3">
        <div class="container-fluid">
            <h1 class="display-5 fw-bold">
                Text Wizard Operations
            </h1>
            <p class="col-md-8 fs-4">
                Select the operation you want to perform on the text. You can summarize the text or analyze the sentiment of
                the text. 
            </p>
        </div>
    </div>

</div>
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card mb-3" style="max-width: 600px;">
                <div class="row g-0">
                    <div class="col-md-5">
                        <img src="https://miro.medium.com/v2/resize:fit:1400/0*R-WDJt0pFajpM-7D" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title">Text Summarizer</h5>
                            <p class="card-text">
                                Text Summarizer is a tool that helps you summarize long articles, essays, research
                                papers, and other content.
                            </p>
                            <p class="card-text"><small class="text-body-secondary">
                                    <a href="/summarizer" class="btn btn-primary">Try Now</a>
                                </small>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-5">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfcN9tU62jG8HlIzdJtYn8Khrhv7Zp3UDwdFGrdpehb9TMlAMbk1v7pZgq_88b6uLRxuo&usqp=CAU" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title">Sentiment Analysis</h5>
                            <p class="card-text">
                                Sentiment Analysis is a tool that helps you analyze the sentiment of a piece of text.
                            </p>
                            <p class="card-text"><small class="text-body-secondary">
                                    <a href="/sentiment" class="btn btn-primary">Try Now</a>
                                </small>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>

</script>
{% endblock %}
{% block css %}
<style>
    body, html {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        height: 100%;
    }
    body {
        position: relative;
        background-image: url('https://st4.depositphotos.com/2727515/19619/i/450/depositphotos_196196128-stock-photo-space-amazing-dark-theme-background.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
        background-attachment: fixed;   
    }
    body::after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.648);
        z-index: -1;
    }
    .container-fluid {
        background-color: rgba(0, 0, 0, 0.74);
        border-radius: 10px;
        padding: 10px;
    }
    .form-select, .btn-primary {
        background-color: rgba(52, 73, 94, 0.7);
        border-color: #2c3e50;
    }
    .form-select:focus, .btn-primary:focus {
        background-color: rgba(52, 73, 94, 0.9);
        border-color: #3498db;
        box-shadow: 0 0 0 0.25rem rgba(52, 152, 219, 0.5);
    }
    .form-text {
        color: #ccc;
    }
</style>
{% endblock %}
{% block head %}{% endblock %}